<a href="https://colab.research.google.com/github/nofiyamillatina/Praktikum-Struktur-Data/blob/main/Array_Latihan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi array kosong
data = []

# inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# menampilkan isi array
print("isi array angka:", angka)

isi array angka: [10, 20, 30, 40, 50]

In [ ]:
# mengakses elemen array
print("Elemen pertama:", angka[0])  # elemen pertama
print("Elemen terakhir:", angka[-1])  #elemen terakhir

Elemen pertama: 10
Elemen terakhir: 50

In [ ]:
# menambahkan elemen menggunakan append ()
angka.append(60)
print("Array setelah penambahan elemen:", angka)

# menambah elemen menggunakan insert ()
angka.insert(2, 25)
print("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
# menghapus elemen menggunakan remove ()
angka.remove(25)
print("Array setelah menghapus elemen 25:", angka)

# menghapus elemen menggunakan pop ()
angka.pop(2)
print("Array setelah menghapus elemen pada indeks 2:", angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks 2: [10, 20, 40, 50, 60]

In [ ]:
# mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pada indeks 0:", angka)

Array setelah mengubah elemen pada indeks 0: [100, 20, 40, 50, 60]

In [ ]:
# iterasi dengan perulangan
angka = [10, 20, 30, 40]

for nilai in angka:
  print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

In [ ]:
# operasi matematika sederhana
print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum:", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10

In [ ]:
# deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0][1])
print("Elemen pada baris ke-1, kolom ke-2:", matriks[0][1])

# mengakses elemen terakhir (baris ke-3, kolom ke- 3)
print("Elemen terakhir:", matriks[-1][-1])

Elemen pada baris ke-1, kolom ke-2: 2
Elemen terakhir: 9

In [ ]:
# menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)

# menambahakan elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen pada baris ke-2:", matriks)

Array setelah menambahkan baris baru: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
Array setelah menambahkan elemen pada baris ke-2: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]

# Latihan 1

In [ ]:
# Latihan 1
data = []
NPM = [2420506026, 2420506027, 2420506028, 2420506029, 2420506030]
print("NPM:", NPM)

NPM: [2420506026, 2420506027, 2420506028, 2420506029, 2420506030]

In [ ]:
# Latihan 2
angka = []
angka = [24,20,50,60,26]
print("isi array angka:", angka)
angka.append(26)
print("Array setelah penambahan elemen:", angka)
angka.pop(0)
print("Array setelah penghapusan elemen:", angka)

isi array angka: [24, 20, 50, 60, 26]
Array setelah penambahan elemen: [24, 20, 50, 60, 26, 26]
Array setelah penghapusan elemen: [20, 50, 60, 26, 26]

# New Section

In [ ]:
# Latihan 3
fakultas = ["Ekonomi", "Keguruan dan Ilmu Pendidikan", "Pertanian", "Teknik", "Ilmu Sosial dan Politik"]

for fakultas in fakultas:
  print("Fakultas:", fakultas)

Fakultas: Ekonomi
Fakultas: Keguruan dan Ilmu Pendidikan
Fakultas: Pertanian
Fakultas: Teknik
Fakultas: Ilmu Sosial dan Politik

In [ ]:
# Latihan 4
harga = []
harga = [5000, 4000, 2000, 3000]
print("Harga:", harga)
print("Jumlah total:", sum(harga))

Harga: [5000, 4000, 2000, 3000]
Jumlah total: 14000

In [ ]:
# Latihan 5
matriks = [
    [1, 4, 6, 8],
    [4, 7, 5, 9],
    [3, 6, 8, 4],
]
print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 4, 6, 8]
[4, 7, 5, 9]
[3, 6, 8, 4]

In [ ]:
# Latihan 6
print("Elemen pada baris ke-2, kolom ke-4:", matriks[1][3])

Elemen pada baris ke-2, kolom ke-4: 9

In [ ]:
# Latihan 7
matriks.append([15, 7, 20, 5])
print("Array setelah menambahkan baris baru:", matriks)

Array setelah menambahkan baris baru: [[1, 4, 6, 8], [4, 7, 5, 9], [3, 6, 8, 4], [15, 7, 20, 5]]

In [ ]:
# Latihan 8
matriks[-1].pop(2)
print("Array setelah menghapus elemen ke-3 dari baris ke-3:", matriks)

Array setelah menghapus elemen ke-3 dari baris ke-3: [[1, 4, 6, 8], [4, 7, 5, 9], [3, 6, 8, 4], [15, 7, 5]]

In [ ]:
# Latihan 9
matriks[3][2] = 19
print("Array setelah mengubah elemen pada baris ke-4, kolom ke-3:", matriks)

Array setelah mengubah elemen pada baris ke-4, kolom ke-3: [[1, 4, 6, 8], [4, 7, 5, 9], [3, 6, 8, 4], [15, 7, 19]]

In [ ]:
# Latihan 10
barang = ["Ls NCT 127", "Ls NCT DREAM", "Ls ENHYPEN", "Ls SEVENTEEN", "Ls BTS"]
barang.append("Ls EXO")
barang.remove("Ls BTS")
print("Daftar barang terbaru:", barang)

Daftar barang terbaru: ['Ls NCT 127', 'Ls NCT DREAM', 'Ls ENHYPEN', 'Ls SEVENTEEN', 'Ls EXO']